.card {
  width: 300px;
}

.card-body {
  margin-left: 15px;
}

button{
  width: 30px;
  margin: 0 0 15px 250px;
  background-color: white;
  border: 1px gray solid;
  font-size: 15px;
  border-radius: 50%;
}
