.goods {
  width: 150px;
  margin: 20px;
}

.goods .name {
  font-weight: 700;
}
.goods img {
  display: block;
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.buy {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button{
  background-color: gray;
  border: none;
  border-radius: 50%;
}
